# macOS
.DS_Store

# Xcode
DerivedData/
*.xcworkspace/
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/

# Firebase
GoogleService-Info.plist

# Sonstiges
*.log

CineVibe03/Audio.mp3
CineVibe03/Assets.xcassets/**/*.jpg
CineVibe03/Assets.xcassets/**/*.jpeg
CineVibe03.xcodeproj/xcuserdata/
.DS_Store
